<div class="bg-dark">
    <div class="container main">
        <div class="w-100">
            <button id="add-docket-btn" class="float-end btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#docket-modal">+ Add Docket</button>
        </div>
        <div class="w-100 mt-3">
            <app-docket-list [docketList]="docketList" (editClickEmitter)="editClickHandler($event)" (deleteClickEmitter)="deleteClickHandler($event)"/>
        </div>
    </div>
</div>


<div class="modal fade" id="docket-modal" tabindex="-1">
    <app-upsert-docket [currentDocket]="currentDocket" [poList]="poListFinal" (afterUpsertEmitter)="afterUpsert()"/>
</div>