<table class="table table-info">
  <!-- Table headers section -->
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of docketHeader">
        <ng-container *ngIf="header !== 'docket_id'"> <!-- We will not show docket_id -->
          {{ header | titlecase }}
        </ng-container>
      </th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <!-- Table body section -->
  <tbody>
    <!-- Table Body's Data -->
    <ng-container *ngIf="!loading">
      <tr *ngFor="let field of docketList;">
        <td *ngFor="let col of docketHeader">
          <ng-container *ngIf="col !== 'docket_id'"> <!-- We will not show docket_id -->
            {{ field[col] }}
          </ng-container>
        </td>
        <td><i class="bi bi-pencil-square pointer" (click)="editClickHandler(field.docket_id)"></i></td>
        <td><i class="bi bi-trash pointer" (click)="deleteClickHandler(field.docket_id)"></i></td>
      </tr>
    </ng-container>
  </tbody>
</table>


<!-- Spinner -->
<div *ngIf="loading" class="text-center">
  <span class="spinner-border text-light" role="status"></span>
</div>

<button class="d-none" id="confirm-box-open-button" data-bs-toggle="modal" data-bs-target="#confirm-modal"></button>

<div class="modal fade" id="confirm-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Delete Docket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        Are you sure, you want to delete this docket
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger d-flex align-items-center" (click)="confirmDelete()" data-bs-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>